<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
    
    <hr>

    <form name="guestbook">Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <form name="guestbook_picker">
      <select onchange="javascript:set_guestbook_name();" name="guestbook_select">
      {% for guestbook in guestbook_names %}
        <option>{{ guestbook }}</option>
      {% endfor %}
      </select>
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <script type="text/javascript">
      function set_guestbook_name() {
        // old school form element access (look ma, no DOM)
        document.forms.guestbook.guestbook_name.value=document.forms.guestbook_picker.guestbook_select.value;
      }
    </script>
  </body>
</html>
{% endautoescape %}
